@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Roboto&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
    font-family: 'KyoboHandwriting2022khn';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KyoboHandwriting2022khn.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

/* header */
header{
    display:flex;
    flex-direction:column;
}

header > div > div{
    display:flex;
    flex-direction:row;
    width:60vw;
    margin:0 auto;
}

header >div>div>div { 
    padding: 0 10px 0 10px;
}

#head{
    padding: 40px 0 40px 0;
    font-size:1.5rem;
    background-color:#fcfcfc;
}

header > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  #navleft {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-family: 'Pretendard';
    font-size: 2rem;
    color: #737373;
  }

  #navright {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content:center;
    align-items:center;
    font-family: 'Pretendard';
    font-size: 2rem;
    color: #737373;
  }
  
  #navleft > div, #navright > div {
    padding: 0 10px;
  }

/* body */

html{
    font-size:62.5%;
    font-family:'Noto Sans KR', sans-serif;
    font-weight:500;
}

div,p,input{
    margin:0;
    padding:0
}

a{
    text-decoration:none;
}

body{
    display:flex;
    flex-direction:column;
    margin:0;
    padding:0;
}

#sec1{
    display:flex;
    flex-direction:column;
    background-image:url(purple3.jpeg);
    background-size: 100% 100%;
}

#divSearch{
    position:relative;
    display:flex;
    width:40vw;
    align-self:center;
    justify-content:center;
    align-items:center;
    margin:2.5vh;
}

#divSearch > input{
    width:40vw;
    height:7vh;
    border:2px solid #2DA491;
    border-radius:22px;
    padding: 0 1vw 0 1vw;
    font-size:1.4rem;
}:focus{
    outline:none;
}

#divSearch>img{
    position:absolute;
    width:24px;
    right:1.1vw;
}

.sect{
    width:65vw;
    height:90vh;
    min-width:650px;
    align-self:center;
}

#Banner {
  position: relative;
}

#Banner img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 115%;
  height: auto;
  margin-top:190px;
}

.bannertitle{
    font-size:50px;
    font-weight:700;
    line-height:130%;
    margin-top:8vh;
    color:black;
    text-align:center;
    font-family: 'Pretendard';
}

.bannertitle2{
    font-size:2rem;
    line-height:160%;
    margin-top:3vh;
    color:#495057;
    text-align:center;
    font-family: 'Pretendard';
}

.bannertitle3{
  font-size:2rem;
  line-height:160%;
  margin-top:0.2vh;
  text-align:center;
  color:#495057;
  font-family: 'Pretendard';
}


.smalltitle {
  font-family: 'Pretendard';
  display: flex;
  align-items: center;
  text-align:center;
  justify-content: center; /* 추가된 속성 */
  width: 18%;
  height: 6vh;
  background-color: black;
  color:white;
  margin-top: 5vh;
  margin-bottom: 8vh;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: 500;
  line-height: 6vh; 
  text-align: center;
  word-break: keep-all;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}


.button-wrapper {
  display: flex;
  justify-content: space-around; /
}



#sec2{
    align-self:center;
    padding-top:10vh;
    padding-bottom:8vh;
    
}


.sec{
    display: flex; 
    flex-direction: row; 
    justify-content: flex-start;
    align-items: baseline; 
}

.meet{
    font-weight: 700; 
    font-size: 3rem; 
    margin-top: 5vh;
    margin-bottom:2vh;
}


  .pictures{
    display: flex;
    align-items:center;
    justify-content:center;
    gap:30px;
  }
  .boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
  
  .explain1 , .explain2 {
    margin-top:30px;
    position: relative; 
  border-radius: 10px;
  box-shadow: 3px 4px 12px 0px rgba(0, 0, 0, 0.10);
  width: 500px;
  height: 330px;
  background-color: #fcfcfc;
  }

  .explain1>p{
    padding-top:30px;
    text-align:left;
    margin-top:30px;
    font-size:25px;
    color:black;
    margin-left:30px;
    font-family: 'Pretendard';
    font-weight:700;
  }
  
  .explain1>img{
    width:300px;
  }

  explain2{
    margin-top:30px;
    position: relative; 
  border-radius: 10px;
  box-shadow: 3px 4px 12px 0px rgba(0, 0, 0, 0.10);
  width: 500px;
  height: 330px;
  background-color: #fcfcfc;
  margin-right:650px;
  }



  .text1{
    text-align:left;
    margin-left:10px;
    font-size:19px;
    color:#737373;
    
    margin-top:30px;
  }


  
