<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>톡썸 노트</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/All.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>


    
</head>

    <body id="body-pd" class="body-pd">

        <div class="containers">
            <div id="divSearch">
                <input id="searchInput" placeholder="노트 이름을 검색하세요.">
                <img src="https://img.icons8.com/ios/50/search--v1.png" id="searchIcon" alt="Search Icon" class="image">
              </div>

            <div class="buttonclass">
            <button class="btn-open-popups">
                <ion-icon name="trash-outline" class="nav__icon"></ion-icon>
                <span class="remove">노트 삭제하기</span>
            </button>

            <button class="btn-open-popup">
                <ion-icon name="add-outline" class="nav__icon"></ion-icon>
                <span class="new_note">새 노트 만들기</span>
            </button>

        </div>
        </div>

       

        <div class="l-navbar expander" id="navbar">
            <nav class="nav">
                <div>
                    <div class="nav__brand">
                        <div class="nav__first">
                            <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                            <div class="nav__profile">
                            <img width="36" height="36"  src="https://img.icons8.com/fluency/48/user-male-circle--v1.png" alt="user-male-circle--v1"/>
                            <a href="#" class="nav__logo">이나경님</a>
                        </div>
                        </div>              
                    </div>
                    <hr>

                    <div class="modal">
                        <div class="modal_body">
                            <h5 class="modal-title">새 노트 만들기</h5>
                            
                            <div class="modal-footer">
                                
                                <div class="notenameinput">
                                    <div class="note-name">노트 제목</div>
                                      <input type="text" class="input-name" placeholder="노트 제목을 입력하세요.">
                                      
                                  </div>
                                  


                                <div class="upload">파일 업로드하기</div>
                                <div class="upload-box">
                                    <div id="drop-file" class="drag-file">
                                      <img src="https://img.icons8.com/ios/50/upload-to-cloud--v1.png" alt="파일 아이콘" class="image">
                                      <p class="message">내 PC에서 음성파일을 첨부하거나 끌어오세요.<br>
                                        음성파일 길이는 한 번에 최대 180분까지 가능해요.</p>
                                        <div class="message2">
                                            <img src="https://img.icons8.com/ios/50/globe--v1.png" alt="파일 아이콘" class="image2">
                                            인식 언어&nbsp;
                                            <select class="language-select">
                                                <option value="한국어">한국어</option>
                                                <option value="영어">영어</option>
                                                <option value="스페인어">일본어</option>
                                                <option value="중국어">중국어</option>
                                            </select>
                                        </div>

                                      <label class="file-label" for="chooseFile">파일 첨부하기</label>
                                    </div>
                                  </div>

                                <input class="file" id="chooseFile" type="file" multiple>
                                <!-- <div id="files" class="files">
                                    <div class="file">
                                      <div class="thumbnail">
                                        <img src="https://img.icons8.com/pastel-glyph/2x/image-file.png" alt="파일타입 이미지" class="image">
                                      </div>
                                      <div class="details">
                                        <header class="header">
                                          <span class="name">Photo.png</span>
                                          <span class="size">7.5 mb</span>
                                        </header>
                                        <div class="progress">
                                          <div class="bar"></div>
                                        </div>
                                        <div class="status">
                                          <span class="percent">37% done</span>
                                          <span class="speed">90KB/sec</span>
                                        </div>
                                      </div>
                                    </div>
                                  </div> --> 

                                  <div class="inputlink">
                                  <div class="import">링크로 가져오기</div>

                                  <div class="link-upload-container">
                                    <input type="text" class="input-text" placeholder="유튜브 링크 URL을 여기에 입력하세요.">
                                    <button class="upload-btn" onclick="window.location.href='loading.html';">Upload</button>
                                </div>

                                </div>

                                <button class="btn btn-secondary btn-close-modal">X</button>
                            </div>
                        </div>
                    </div>

                    
                    

                    <div class="nav__list">
                        <a href="#" class="nav__link" onclick="goToPage('All.html')">
                            <ion-icon name="home-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">전체 노트</span>
                        </a>
                        <a href="" class="nav__link" onclick="goToPage('Important.html')">
                            <ion-icon name="star-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">중요 노트</span>
                        </a>
    
                        <a href="" class="nav__link" onclick="goToPage('Trash.html')">
                            <ion-icon name="trash-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">휴지통</span>
                        </a>
                    </div>
                </div>
            </nav>
        </div>

        <p class="allnote">전체 노트</p>
        <div class="row">
            <div class="name">이름</div>
            <div class="loca">즐겨찾기</div>
            <div class="select">파일 선택</div>
            <div class="info">마지막 수정 일자</div>
        </div>
    <hr>
    <div class="note-list">
        <div class="rows">
            <img src="https://img.icons8.com/nolan/64/microphone.png" alt="마이크 아이콘" class="image">
            <div class="notename">
                <a href="page.html">
                <div class="names">8/30 운영체제 13주차 대면 강의</div>
                <div class="note-content">
                    프레임을 할당하는 얘기와 페이지를 교체하는 얘기 두 가지가 소개되고 있어요. 내가 가지고 있는 물리적인...ㄹㄴㅇ루ㅏㅣ루나ㅣㄹ니루나ㅣ루ㅏ니루나ㅣ룬ㄹㅇ나ㅣ룽ㄴㄹ닐ㄴㅇㄹㄴㄹㄴㅇㄹㄴㅇㄹㄴㅇㅇㄴㄹㅇㄴㄹㄴㅇㄹㄴㄴㄹㄴ
                </div>
                </a>
            </div>
            <div class="fold">
                <div class="like"><img src="../static/image/mdi_heart-outline.png" alt="하트 아이콘"></div>
            </div>
            <div class="checkbox">
                <div class="check" onclick="toggleCheckbox(this)">
                    <img src="https://img.icons8.com/windows/32/unchecked-checkbox.png" alt="unchecked-checkbox">
                </div>
            </div>
            <div class="time">8.30 수 오후 8:41</div>
        </div>
    </div>
    <hr>
    <div class="note-list">
        <div class="rows">
            <img src="https://img.icons8.com/nolan/64/microphone.png" alt="마이크 아이콘" class="image">
            <div class="notename">
            <div class="names">8/12 소프트웨어공학 12주차 대면 강의</div>
            <div class="note-content">
                우리가 이미 소프트웨어 테스팅에 관한 이야기는 했어요. 그래서 소프트웨어 테스팅 명세 검증할 때 했는데... 
            </div>
        </div>
        <div class="fold">
            <div class="like"><img src="../static/image/mdi_heart-outline.png" alt="하트 아이콘"></div>
        </div>
        <div class="checkbox">
            <div class="check" onclick="toggleCheckbox(this)">
                <img src="https://img.icons8.com/windows/32/unchecked-checkbox.png" alt="unchecked-checkbox">
            </div>
        </div>
            <div class="time">8.12 금 오후 3:19</div>
        </div>
        
    </div>
    <hr>
    <div class="note-list">
        <div class="rows">
            <img src="https://img.icons8.com/nolan/64/microphone.png" alt="마이크 아이콘" class="image">
            <div class="notename">
            <div class="names">7/16 공학경진대회 회의</div>
            <div class="note-content">
                저희가 저번까지는 주제를 대충 정했고 오늘은 역할 분담을 한번 해보면 좋을 것 같아요. 일단 프론트랑 백...
            </div>
        </div>
        <div class="fold">
            <div class="like"><img src="../static/image/mdi_heart-outline.png" alt="하트 아이콘"></div>
        </div>
        <div class="checkbox">
            <div class="check" onclick="toggleCheckbox(this)">
                <img src="https://img.icons8.com/windows/32/unchecked-checkbox.png" alt="unchecked-checkbox">
            </div>
        </div>
            <div class="time">7.16 수 오전 10:32</div>
        </div>
    </div>
    <hr>
    <div class="note-list">
        <div class="rows">
            <img src="https://img.icons8.com/nolan/64/microphone.png" alt="마이크 아이콘" class="image">
            <div class="notename">
            <div class="names">7/3 세바시 유튜브</div>
            <div class="note-content">
                '독해야 성공한다'는 말, 들어보셨나요? 대치동 유명 강사인 저는 수험생들에게 '독해져라'고 끊임없이 강조...
            </div>
        </div>
        <div class="fold">
            <div class="like"><img src="../static/image/mdi_heart-outline.png" alt="하트 아이콘"></div>
        </div>
        <div class="checkbox">
            <div class="check" onclick="toggleCheckbox(this)">
                <img src="https://img.icons8.com/windows/32/unchecked-checkbox.png" alt="unchecked-checkbox">
            </div>
        </div>
            <div class="time">7.3 화 오후 2:52</div>
        </div>
    </div>
    <hr>
    <div class="note-list">
        <div class="rows">
            <img src="https://img.icons8.com/nolan/64/microphone.png" alt="마이크 아이콘" class="image">
            <div class="notename">
            <div class="names">5/25 무한도전 오분순삭 유튜브</div>
            <div class="note-content">
                점심 뭐드실래요? 점심 메뉴는 우리 정과장이 정하는걸로! 다같이...? 왜 제가 정합니까? 이러면은 우리가...
            </div>
        </div>
        <div class="fold">
            <div class="like"><img src="../static/image/mdi_heart-outline.png" alt="하트 아이콘"></div>
        </div>
        <div class="checkbox">
            <div class="check" onclick="toggleCheckbox(this)">
                <img src="https://img.icons8.com/windows/32/unchecked-checkbox.png" alt="unchecked-checkbox">
            </div>
        </div>
            <div class="time">5.25 토 오후 6:27</div>
        </div>
    </div>
    <hr>
    <div class="note-list">
        <div class="rows">
            <img src="https://img.icons8.com/nolan/64/microphone.png" alt="마이크 아이콘" class="image">
            <div class="notename">
            <div class="names">4/21 세나개 유튜브</div>
            <div class="note-content">
                강조되고 반복되는 소리는 강아지를 불안하게 해요! 네! 아니요! 이렇게는 좋은게 아니에요. 네 맞아요. 그런...
            </div>
        </div>
        <div class="fold">
            <div class="like"><img src="../static/image/mdi_heart-outline.png" alt="하트 아이콘"></div>
        </div>
        <div class="checkbox">
            <div class="check" onclick="toggleCheckbox(this)">
                <img src="https://img.icons8.com/windows/32/unchecked-checkbox.png" alt="unchecked-checkbox">
            </div>
        </div>
            <div class="time">4.21 화 오후 1:41</div>
        </div>
    </div>
    <hr>
    <div class="note-list">
        <div class="rows">
            <img src="https://img.icons8.com/nolan/64/microphone.png" alt="마이크 아이콘" class="image">
            <div class="notename">
            <div class="names">4/21 세나개 유튜브</div>
            <div class="note-content">
                강조되고 반복되는 소리는 강아지를 불안하게 해요! 네! 아니요! 이렇게는 좋은게 아니에요. 네 맞아요. 그런...
            </div>
        </div>
        <div class="fold">
            <div class="like"><img src="../static/image/mdi_heart-outline.png" alt="하트 아이콘"></div>
        </div>
        <div class="checkbox">
            <div class="check" onclick="toggleCheckbox(this)">
                <img src="https://img.icons8.com/windows/32/unchecked-checkbox.png" alt="unchecked-checkbox">
            </div>
        </div>
            <div class="time">4.21 화 오후 1:41</div>
        </div>
    </div>
    <hr>

    <div class="pagination">
        <button class="prev">⬅️</button>
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
        <span>6</span>
        <span>7</span>
        <button class="next">➡️</button>
    </div>
    <!-- IONICONS -->
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <!-- JS -->
    <script src="../static/js/All.js"></script>

    </body>

   
    </html>
    