<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/Important.css">
</head>
<body>
        <p class="allnote">중요 노트</p>
        <div class="row">
            <div class="name">이름</div>
            <div class="loca">폴더 위치</div>
            <div class="info">마지막 수정 일자</div>
        </div>
    <hr>
    <div class="note-list">
        <div class="rows">
            <img src="https://img.icons8.com/nolan/64/microphone.png" alt="마이크 아이콘" class="image">
            <div class="notename">
            <div class="names">8/30 운체</div>
            <div class="note-content">
                프레임을 할당하는 얘기와 페이지를 교체하는 얘기 두 가지가 소개되고 있어요...
            </div>
        </div>
            <div class="fold">기본 폴더</div>
            <div class="time">8.30 수 오후 8:41</div>
        </div>
    </div>
    <hr>
    <div class="note-list">
        <div class="rows">
            <img src="https://img.icons8.com/nolan/64/microphone.png" alt="마이크 아이콘" class="image">
            <div class="notename">
            <div class="names">8/29 고모프</div>
            <div class="note-content">
                프레임을 할당하는 얘기와 페이지를 교체하는 얘기 두 가지가 소개되고 있어요...
            </div>
        </div>
            <div class="fold">기본 폴더</div>
            <div class="time">8.30 수 오후 8:41</div>
        </div>
    </div>
    <hr>
    <div class="note-list">
        <div class="rows">
            <img src="https://img.icons8.com/nolan/64/microphone.png" alt="마이크 아이콘" class="image">
            <div class="notename">
            <div class="names">8/28 설패</div>
            <div class="note-content">
                오늘은 solid에 대해서 알아볼거에요 오케이? srp는 single responsibility p...
            </div>
        </div>
            <div class="fold">기본 폴더</div>
            <div class="time">8.30 수 오후 8:41</div>
        </div>
    </div>

</body>
</html>