<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로딩중...</title>
    <link rel="stylesheet" href="../static/css/Loading.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="loading-content">
        <img src="/static/image/cat.gif" alt="로딩중...">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;잠시만요, 마법을 부리는 중이에요! 🪄✨<br>
            곧 요약해서 보여드릴게요!
        </p>
    </div>

</body>
</html>
