<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>톡썸 노트</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/Page.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <style>
        
    </style>
</head>
<body id="body-pd" class="body-pd">

    <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <p id="modalText">검색어를 입력하세요.</p>
        </div>
      </div>


<div class="split-screen">
    <div class="column">
        <div class="left-content">
            <div class="chat-container">
            <div class="leftheader">
                <div class="content-text">음성 기록</div>
                <div class="image">
                <img src="https://img.icons8.com/ios/50/save--v1.png" alt="저장 아이콘" class="icon">
                <img src="https://img.icons8.com/fluency-systems-filled/48/search.png" alt="돋보기 아이콘" class="icon" id="searchIcon">
                <img src="https://img.icons8.com/ios-glyphs/30/share--v1.png" alt="share--v1" class="icon" id="shareLinkButton">
            </div>
            </div>
            <hr>

            <div class="leftheader2">
            <div class="content-keyword">키워드</div>
            <div class="keywordtag">#운영체제&nbsp;&nbsp;#가상 메모리&nbsp;&nbsp;#페이징&nbsp;&nbsp;#세그먼트 테이블&nbsp;&nbsp;#페이지 테이블</div>
        </div>

            <hr>
            <div class="chat">
            <img src="../static/image/chicken.png" style="width:3vw; height:3vw"  alt="닭 이미지" class="userimage">
            <div class="records">
            <div class="record">
            <div class="username">참석자 1</div>
            <div class="time">05:59</div>
            </div>
            <div class="recordcontent">
                그런 연속적이지 않은 각각의 부분들을 연속적으로 접근할 수 있는 것처럼 해줄 수 있는 페치 테이블에 도움이 필요한 것이고 이 페이시 테이블의 도움은 매지터에 저장할 수 없을 만큼 덩어리가 크기 때문에 메모리에 절단을 이르게 되고 따라서 내가 어떤 특정 번지 0 번지를 작성한다라고 했을 때,
            </div>
        </div>
            </div>

            
            <div class="chat">
            <img src="../static/image/chicken.png" style="width:3vw; height:3vw"  alt="닭 이미지" class="userimage">
            <div class="records">
            <div class="record">
            <div class="username">참석자 1</div>
            <div class="time">05:59</div>
            </div>
            <div class="recordcontent">
                그 연번지가 실제 메모리 어디에 있는지를 접근하기 위해서 페이지 테이블을 통해 프레임 번호를 얻고, 그 얻은 프레인 번호를 통해서 페이지를 다시 프레임을 다시 접근해 줘야 돼서 효율성이 상대적으로 떨어지더라라는 거예요. 
그래서 그렇게 상대적으로 떨어지는 효율성들을 조금 더 효과적으로 처리하기 트레이라는 캐시 메모리의 도움을 받아볼 수 있다라는 거죠. 
            </div>
        </div>
            </div>

            
            <div class="chat">
            <img src="../static/image/chicken.png" style="width:3vw; height:3vw"  alt="닭 이미지" class="userimage">
            <div class="records">
            <div class="record">
            <div class="username">참석자 1</div>
            <div class="time">05:59</div>
            </div>
            <div class="recordcontent">
                우리 캐시 메모리라는 것이 보면 일반 메인 메모리처럼 캐시 메모리 안에 들어있는 데이터들이 존재하는지를 순차적으로 비교해 나간다라고 했다라고 하면 효율성이 좀 떨어지잖아요. 
                여기 있나 여기 있나 여기있나 이렇게 순차적으로 쭉 검색이 태어나다라고 하면 시간이 많이 소요되어지기 때문에 순차적인 검색이 아니라 하드웨어적으로 현재 캐시 메모리에 저장되어 있는 모든 요소를 한 번에 비교해서 있다 없다
            </div>
        </div>
            </div>

            <div class="chat">
                <img src="../static/image/chicken.png" style="width:3vw; height:3vw"  alt="닭 이미지" class="userimage">
                <div class="records">
                <div class="record">
                <div class="username">참석자 1</div>
                <div class="time">05:59</div>
                </div>
                <div class="recordcontent">
                    우리 캐시 메모리라는 것이 보면 일반 메인 메모리처럼 캐시 메모리 안에 들어있는 데이터들이 존재하는지를 순차적으로 비교해 나간다라고 했다라고 하면 효율성이 좀 떨어지잖아요. 
                    여기 있나 여기 있나 여기있나 이렇게 순차적으로 쭉 검색이 태어나다라고 하면 시간이 많이 소요되어지기 때문에 순차적인 검색이 아니라 하드웨어적으로 현재 캐시 메모리에 저장되어 있는 모든 요소를 한 번에 비교해서 있다 없다
                </div>
            </div>
                </div>

                <div class="chat">
                    <img src="../static/image/chicken.png" style="width:3vw; height:3vw"  alt="닭 이미지" class="userimage">
                    <div class="records">
                    <div class="record">
                    <div class="username">참석자 1</div>
                    <div class="time">05:59</div>
                    </div>
                    <div class="recordcontent">
                        우리 캐시 메모리라는 것이 보면 일반 메인 메모리처럼 캐시 메모리 안에 들어있는 데이터들이 존재하는지를 순차적으로 비교해 나간다라고 했다라고 하면 효율성이 좀 떨어지잖아요. 
                        여기 있나 여기 있나 여기있나 이렇게 순차적으로 쭉 검색이 태어나다라고 하면 시간이 많이 소요되어지기 때문에 순차적인 검색이 아니라 하드웨어적으로 현재 캐시 메모리에 저장되어 있는 모든 요소를 한 번에 비교해서 있다 없다
                    </div>
                </div>
                    </div>

                    <div class="chat">
                        <img src="../static/image/chicken.png" style="width:3vw; height:3vw"  alt="닭 이미지" class="userimage">
                        <div class="records">
                        <div class="record">
                        <div class="username">참석자 1</div>
                        <div class="time">05:59</div>
                        </div>
                        <div class="recordcontent">
                            우리 캐시 메모리라는 것이 보면 일반 메인 메모리처럼 캐시 메모리 안에 들어있는 데이터들이 존재하는지를 순차적으로 비교해 나간다라고 했다라고 하면 효율성이 좀 떨어지잖아요. 
                            여기 있나 여기 있나 여기있나 이렇게 순차적으로 쭉 검색이 태어나다라고 하면 시간이 많이 소요되어지기 때문에 순차적인 검색이 아니라 하드웨어적으로 현재 캐시 메모리에 저장되어 있는 모든 요소를 한 번에 비교해서 있다 없다
                        </div>
                    </div>
                        </div>
        </div>
        </div>


        <div class="right-content">
            <div class="chat-container">
                <div class="leftheader">
                    <div class="content-text">요약하기</div>
                    <div class="image">
                    <img src="https://img.icons8.com/ios/50/save--v1.png" alt="저장 아이콘" class="icon" id="saveIcon">
                    
                    <img src="https://img.icons8.com/ios-glyphs/30/copy.png" alt="복사 아이콘" class="icon" id="copyIcon">
                    
                </div>
                </div>
                <hr>
    
                <div class="leftheader2">
                <div class="content-keyword">키워드</div>
                <div class="keywordtag">#운영체제&nbsp;&nbsp;#가상 메모리&nbsp;&nbsp;#페이징&nbsp;&nbsp;#세그먼트 테이블&nbsp;&nbsp;#페이지 테이블</div>
            </div>
            <hr>

            <div class="wandcontainer">
            <img src="../static/image/magic-wand.png">
            <button type="button" class="sumbutton">요약하기</button>
        </div>

        <div id="summaryContent" style="display:none;">
            <div class="sumcontent">
                <h2>캐시 메모리</h2>
                <p>우리 캐시 메모리라는 것이 보면 일반 메인 메모리처럼 캐시 메모리 안에 들어있는 데이터들이 존재하는지를 순차적으로 비교해 나간다라고 했다라고 하면 효율성이 좀 떨어지잖아요. 
                여기 있나 여기 있나 여기있나 이렇게 순차적으로 쭉 검색이 태어나다라고 하면 시간이 많이 소요되어지기 때문에 순차적인 검색이 아니라 하드웨어적으로 현재 캐시 메모리에 저장되어 있는 모든 요소를 한 번에 비교해서 있다 없다</p>
            </div>
        </div>
            </div>
            
        </div>
    </div>
</div>

<!-- IONICONS -->
<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<!-- JS -->
<script>

document.getElementById('shareLinkButton').addEventListener('click', function() {
    // 현재 페이지의 URL을 가져옴
    const currentPageURL = window.location.href;

    // Clipboard API를 사용하여 URL을 클립보드에 복사
    navigator.clipboard.writeText(currentPageURL).then(function() {
        alert('링크가 클립보드에 복사되었습니다.');
    }).catch(function(err) {
        console.error('복사 실패:', err);
    });
});

    document.querySelector('.image img').addEventListener('click', function() {
  let contentToSave = '';

  
  const chats = document.querySelectorAll('.chat');

  chats.forEach(chat => {
      const username = chat.querySelector('.username').innerText;
      const time = chat.querySelector('.time').innerText;
      const content = chat.querySelector('.recordcontent').innerText;
      
      contentToSave += `${username} (${time}): ${content}\n\n`;
  });

  
  const blob = new Blob([contentToSave], {type: 'text/plain'});
  const link = document.createElement('a');
  
  link.href = URL.createObjectURL(blob);
  link.download = 'chat_content.txt';
  link.click();
});


document.getElementById('searchIcon').addEventListener('click', function() {
  const searchTerm = prompt("검색어를 입력하세요");

  if (!searchTerm) {
      alert('검색어를 입력하세요.');
      return;
  }

  
  const chats = document.querySelectorAll('.recordcontent');
  let found = false;

  chats.forEach(chat => {
      
      chat.innerHTML = chat.innerHTML.replace(/<mark>/g, '').replace(/<\/mark>/g, '');

      if (chat.innerText.includes(searchTerm)) {
         
          const regex = new RegExp(searchTerm, 'gi');
          chat.innerHTML = chat.innerHTML.replace(regex, `<mark>${searchTerm}</mark>`);
          found = true;
      }
  });

  if (!found) {
      alert('일치하는 내용이 없습니다.');
  }
});


document.getElementById('copyIcon').addEventListener('click', function() {
  const content = document.getElementById('summaryContent').innerText;


  const textarea = document.createElement('textarea');
  textarea.value = content;
  document.body.appendChild(textarea);
  textarea.select();
  document.execCommand('copy');
  document.body.removeChild(textarea);

  alert('내용이 클립보드에 복사되었습니다.');
});


const modal = document.getElementById("myModal");
const closeBtn = document.querySelector(".close");

closeBtn.onclick = function() {
  modal.style.display = "none";
}

function customAlert(text) {
  document.getElementById("modalText").innerText = text;
  modal.style.display = "block";
}


document.getElementById('searchIcon').addEventListener('click', function() {
  const searchTerm = prompt("검색어를 입력하세요");

  if (!searchTerm) {
      customAlert('검색어를 입력하세요.'); 
      return;
  }


});

document.querySelector('.sumbutton').addEventListener('click', function() {
    // 요약 내용 div 표시
    const summaryContent = document.getElementById('summaryContent');
    summaryContent.style.display = 'block';

    // 아이콘과 버튼을 숨김
    const wandContainer = document.querySelector('.wandcontainer');
    wandContainer.style.display = 'none';
});

document.getElementById('saveIcon').addEventListener('click', function() {
  let contentToSave = '';

  // 예시로 채팅 내용을 가져오는 코드를 사용하겠습니다. 채팅 내용의 구조에 따라 코드를 조정할 수 있습니다.
  const chats = document.querySelectorAll('.recordcontent');

  chats.forEach(chat => {
      const content = chat.innerText;
      contentToSave += `${content}\n\n`;
  });

  const blob = new Blob([contentToSave], {type: 'text/plain'});
  const link = document.createElement('a');
  
  link.href = URL.createObjectURL(blob);
  link.download = 'summary_content.txt';
  link.click();
});

</script>
</body>
</html>
